<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Medico Fiscal</title>
</head>
<body>
    <header>
        <div class="logo">
            <span>medi</span>
            <span>co</span>
        </div>
    </header>
    <main>
        <form action="{{ url_for('index') }}" method="POST">
        <div class="upload">
            <div class="upload-first">
                <p class="upload-text">Upload your Qr code</p>
                <p class="upload-ico">ico</p>
            </div>
            <div class="upload-second">
                <label for="for-photo">Upload a Photo <p><i class="fa-solid fa-arrow-up-from-bracket"></i></p></label>
                <input type="file" id="for-photo">
            </div>
        </div>
        <div class="or">
            <div class="fline"></div>
            <div class="or-text">Or</div>
            <div class="sline"></div>
        </div>
        <div class="fiscal-id">
            <div class="fiscal-id-text">
                <p>Type your Fiscal ID</p>
                <p>ico</p>
            </div>
            <div class="textarea">
                <textarea maxlength="12" name="fiscal_id" cols="50" placeholder="Ex: FqqZ1pdMyh"></textarea>
            </div>
            <div style="margin-bottom: 20px" class="button">
<!--                    <span>Continue<i class="fas fa-angle-right"></i></span>-->
                        <input type="submit" class="fas fa-angle-right" name="continue" value="Continue" >
            </div>
        </div>
        </form>
    </main>
    <script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
</body>
</html>